.fields__order {
	display: flex;
	flex-direction: column;
	width: 90%;
	margin: auto;

	/* margin: 4rem auto 2rem auto; */
}

.fields__order label {
	align-self: start;
	padding: 0.5rem 0 0.1rem 0;
	color: white;
	font-weight: 500;
}
.fields__order input {
	border: 2px solid black;
	border-radius: 2px;
	line-height: 1.25rem;
}
.fields__order.invalid input {
	background: salmon;
	border: 3px solid red;
}
.fields__order.invalid label {
	color: red;
}
