.background {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.548);
	z-index: 5;
}
.modal {
	position: fixed;
	top: 40%;
	left: 50%;
	width: 5rem;
	height: 3rem;
	background-color: blanchedalmond;
	border: 3px solid blue;
}
